body {
    background-color: lightgray;
}

#home-container {
    background-image; 

}


  #nav-image {
    height: 40px;
    width: 40px;
    mix-blend-mode: multiply;
  }

  #search-btn {
    height: 24px;
    width: 40px;
    font-weight: 400;
    background-color: rgba(255, 255, 255, 0);
    margin-top: 1px;
  }

  .heading {
    color: #d9d6d6;
  }

  /* ======================= Nav */

  .navbar {
    /* background-color: #6e6b6b; */
    background-color: #8f8c8c;
    height: 46px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    margin-bottom: 1rem;
    position: relative; 
    z-index: 9999;
  }
  
  .navbar a {
    color: #000000;
    font-size: 13px;
    font-weight: bold;
  }
  
  .navbar a:hover {
    color: darkred;
  }
  
  .navbar-brand {
    display: flex;
    align-items: center;
  }
  
  .navbar-brand > img {
    display: inline-block;
    margin-bottom: 2px;
    margin-right: 5px;
    width: 20px;
    border-radius: 2px;
  }
  
  .nav > li > a > img {
    width: 32px;
    border-radius: 32px;
  }
  
  ul.nav.navbar-nav {
    align-items: center;
  }
  
  ul.nav.navbar-nav li {
    margin: 0 0.5rem;
    display: flex;
  }
  
  nav form.navbar-form {
    display: flex;
    position: relative;
  }
  
  #search.form-control {
    border-radius: 20px;
    margin-bottom: 0;
    width: 100%;
    font-size: 14px;
    padding-right: 50px;
    box-sizing: border-box;
  }
  
  #search.form-control + .btn {
    position: absolute;
    right: 9px;
    top: 2px;
    bottom: 4px;
    z-index: 1;
    padding: 0;
    color: #66757f;
  }
  
  #search.form-control + .btn:active,
  #search.form-control + .btn:focus {
    box-shadow: none;
  }
  
  #search:active,
  #search:focus {
    box-shadow: none;
    border: 3px solid darkred;
  }

  /* user details css */

  * {
    margin: 0;
    padding: 0
}

body {
    background-color: #131212
}

.info {
  list-style-type: none; 
}

.card {
    width: 350px;
    background-color: #efefef;
    border: none;
    cursor: pointer;
    transition: all 0.5s;
    border: 3px solid;
    border-color:#6e6b6b;
}

#home-card {
  margin: 0 auto;
  float: none;
  margin-top: 110px;
}


.btn {
    height: 40px;
    width: 140px;
    border-radius: 4%;
    margin: 10px;
}

.name {
    font-size: 22px;
    font-weight: bold
}


.btn1 {
    height: 40px;
    width: 150px;
    border: none;
    background-color: #6e6b6b;
    color: #1c1a1a;
    font-size: 20px
}


.game-images {
  height: 300px;
  width: 230px;
}

#game-paragraph {
  border: 1px solid;
  border-color: gray;
  margin: 3px;
  padding: 5px;
  border-radius: 5px;
}

#game-ul {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
  padding: 5px;
}

#games {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
  padding: 5px;
}

 

.h1background {
  color: rgba(128, 128, 128, 0.802);
} 

input[type="range"] {
  width: 350px;
}

#range-card {
  width: 400px;
  font-size: 30px;
}

#range-card output{
  background-color: rgb(50, 139, 221);
  width: 45px;
  height: 45px;
  color: white;
  border: 1px solid;
  border-color: black;
}

.headCell {
  background-color: rgba(128, 128, 128, 0.802); 
  color: white;
  border: solid 3px rgb(207, 201, 189);
  width: 100px;
  height: 50px;
  font-size: 20px;

}

td {
  display: table-cell;
  vertical-align: inherit;
}

#table-head {
  background-color: orange;
}

.game-card {
  /* padding: 20px; */
  text-align: center;
}

.search-card-space {

  margin: 10px;
}

#search-icon {
  background-color: rgba(255, 255, 255, 0);
}


#score-board {
  background-color: #dddddd;
}

#table-card {
  width: 98%;
  /* width: 900px; */
  /* max-width: fit-content; */
  justify-content: center;
  text-align: center;
}

.table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  /* box-shadow: 0 0 20px rgba(0, 0, 0, 0.418); */
}

.table thead tr {
  background-color: darkred;
  color: #ffffff;
  text-align: left;
}

.table th,
.table td {
    padding: 12px 15px;
    font-size: larger;
    font-weight: bolder;
}

.table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.table tbody tr:last-of-type {
  border-bottom: 2px solid darkred;
}
