body {
    background-color: lightgray;
}

/* #home-container {
    background-image; 

} */

#home-card {
  justify-content: center;
}


  #nav-image {
    height: 40px;
    width: 40px;
    mix-blend-mode: multiply;
    /* background: transparent; */
  }

  .heading {
    color: #d9d6d6;
  }

  /* ======================= Nav */

  .navbar {
    background-color: #6e6b6b;
    height: 46px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    margin-bottom: 1rem;
    position: relative;
    z-index: 9999;
  }
  
  .navbar a {
    color: #000000;
    font-size: 13px;
    font-weight: bold;
  }
  
  .navbar a:hover {
    color: darkred;
  }
  
  .navbar-brand {
    display: flex;
    align-items: center;
  }
  
  .navbar-brand > img {
    display: inline-block;
    margin-bottom: 2px;
    margin-right: 5px;
    width: 20px;
    border-radius: 2px;
  }
  
  .nav > li > a > img {
    width: 32px;
    border-radius: 32px;
  }
  
  ul.nav.navbar-nav {
    align-items: center;
  }
  
  ul.nav.navbar-nav li {
    margin: 0 0.5rem;
    display: flex;
  }
  
  nav form.navbar-form {
    display: flex;
    position: relative;
  }
  
  #search.form-control {
    border-radius: 20px;
    margin-bottom: 0;
    width: 100%;
    font-size: 14px;
    padding-right: 50px;
    box-sizing: border-box;
  }
  
  #search.form-control + .btn {
    position: absolute;
    right: 9px;
    top: 2px;
    bottom: 4px;
    z-index: 1;
    padding: 0;
    color: #66757f;
  }
  
  #search.form-control + .btn:active,
  #search.form-control + .btn:focus {
    box-shadow: none;
  }
  
  #search:active,
  #search:focus {
    box-shadow: none;
    border: 3px solid darkred;
  }
  
  /* on "onboarding" pages (signup & login), the navbar is
     different: no search box, the logo is centered, and it has
     a background color.
   */
  
  /* .onboarding > .navbar {
    background-image: url("/static/images/nav-bg.png");
    background-size: 100% 100%;
  }
  
  .onboarding .navbar-header {
    margin: 0 auto;
  }
  
  .onboarding .navbar-brand {
    margin: 0;
  }
  
  .onboarding .navbar-brand span {
    display: none;
  }
  
  .onboarding .nav.navbar-nav.navbar-right {
    position: absolute;
    right: 16px;
  }
  
  .onboarding > .navbar a {
    color: #fff;
  }
  
  .onboarding > .navbar form.navbar-form {
    display: none;
  }
  
  .onboarding {
    background-color: #fff;
  }
  
  @media (max-width: 468px) {
    nav form.navbar-form {
      display: none;
    }
  }
  
  nav + .container {
    margin-bottom: 1rem;
  }
   */

  /* ************************************************************** */
  /* user details css */

  * {
    margin: 0;
    padding: 0
}

body {
    background-color: #131212
}

.info {
  list-style-type: none; 
}

.card {
    width: 350px;
    background-color: #efefef;
    border: none;
    cursor: pointer;
    transition: all 0.5s;
}

/* .image img {
    transition: all 0.5s
} */

/* .card:hover .image img {
    transform: scale(1.5)
} */

.btn {
    height: 40px;
    width: 140px;
    border-radius: 4%;
    margin: 10px;
}

.name {
    font-size: 22px;
    font-weight: bold
}

/* .idd {
    font-size: 14px;
    font-weight: 600
}

.idd1 {
    font-size: 12px
} */

/* .number {
    font-size: 22px;
    font-weight: bold
} */

/* .follow {
    font-size: 12px;
    font-weight: 500;
    color: #444444
} */

.btn1 {
    height: 40px;
    width: 150px;
    border: none;
    background-color: #6e6b6b;
    color: #1c1a1a;
    font-size: 20px
}

/* .text span {
    font-size: 13px;
    color: #545454;
    font-weight: 500
} */

/* .icons i {
    font-size: 19px
}

hr .new1 {
    border: 1px solid
} */

/* .join {
    font-size: 14px;
    color: #a0a0a0;
    font-weight: bold
} */

