{% extends 'base.html' %}

{% block title %}Search Results{% endblock %}

{% block body_class %}{% endblock %}


{% block content %}

<body>
    <main id="content">
        <div>
            <div class="container">
                <div class="heading-container" id="home-heading-container">
                    <h1 class="h1background">Search Results</h1>
                </div>
                <div class="container" >
                    <div class="row row-cols-md-3 game-card">
                            {% for game in g_data['games'] %}
                            <div class="mb-3 search-card-space" data-id="{{game['id']}}">
                                <div class="card p-4 h-100 ">
                                    <div>
                                        <div>
                                            <h2><a href="/games/{{game['id']}}">{{game['name']}}</a></h1>
                                        </div>
                                        <div>
                                            <a href="/games/{{game['id']}}"><img src="{{game['images']['medium']}}" class="game-images"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                    </div> 
                </div>
         </div>

    </main> 
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js" integrity="sha512-uMtXmF28A2Ab/JJO2t/vYhlaa/3ahUOgj1Zf27M5rOo8/+fcTUVH0/E0ll68njmjrLqOBjXM3V9NiPFL5ywWPQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script
src="https://code.jquery.com/jquery-3.4.1.min.js"
integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
crossorigin="anonymous"></script>
</body>
{% endblock %}


