{% extends 'base.html' %}

{% block title %}Score{% endblock %}

{% block body_class %}{% endblock %}


{% block content %}

<body>
    <main id="content">
        <div>
            <div class="container">
                <div class="heading-container" id="home-heading-container">
                    <h1 class="h1background">{{ g_name }} Score:</h1>
                </div>
                    <div div class="container mt-4 mb-4 p-3 d-flex justify-content-center"> 
                        <div class="card p-4" id="table-card" style="overflow:auto">
                            <!-- style="overflow:auto" -->
                            <!-- style="width: 800px, -->
                            <div class="text-center" id="score-board">
                                <table class="table" id="myTable" border="1">
                            </div id="save-div">
                            <a href="/users/games" class="button btn1 btn btn-danger" style="font-size: 14px">Back</a>
                       
                            <form id="form-route" method="POST">
                       
                                <button class="button btn1 btn btn-success" style="font-size: 14px" type="submit" name="win" id="win" value="">Save</button>
                                <!-- <button class="hidden" id="num_players" name="num_players" value="{{namesArray}}"></button> -->
                            </form>
                            <a onclick="sumTotalTable()" class="button btn1 btn btn-info" style="font-size: 14px">Sum Scores</a>
                            <a onclick="addRow()" class="button btn1 btn btn-success" style="font-size: 14px">Add Row</a>
                            </div>
                          </div>
                </div>
                </div>
            </div>
        </div>
    </main> 

<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js" integrity="sha512-uMtXmF28A2Ab/JJO2t/vYhlaa/3ahUOgj1Zf27M5rOo8/+fcTUVH0/E0ll68njmjrLqOBjXM3V9NiPFL5ywWPQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script
src="https://code.jquery.com/jquery-3.4.1.min.js"
integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
crossorigin="anonymous"></script>
<script type="text/javascript"> var namesArray = JSON.parse('{{ names_list_json|safe }}');  
console.log(namesArray)
</script>
<script type="text/javascript"> var game_id = "{{ game_id }}"; </script>
<script src="/static/score.js"></script>

</body>
{% endblock %}